<form method="post" action="{{ path('consultant_announcement_denied', {'id': announcement.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir procéder au refus de cette annonce ?');">
  <input type="hidden" name="_token" value="{{ csrf_token('denied' ~ announcement.id) }}">
  <button class="btn btn-danger my-2"><i class="bi bi-x-lg"></i></button>
</form>