<form method="post" action="{{ path('consultant_announcement_validate', {'id': announcement.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir procéder a la validation de cette annonce ?');">
  <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ announcement.id) }}">
  <button class="btn btn-success my-2"><i class="bi bi-clipboard2-check-fill"> Valider</i></button>
</form>