{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier l'annonce</h1>

    {{ include('announcement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('announcement_index') }}">Retour</a>

    {{ include('announcement/_delete_form.html.twig') }}
</div>
    
{% endblock %}
