{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier l'annonce</h1>

    {{ include('announcement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary" href="{{ path('announcement_index') }}"><i class="bi bi-backspace"> Retour</i></a>

    {% if is_granted('ROLE_RECRUITER') %}
        {{ include('announcement/_delete_form.html.twig') }}
    {% endif %}
    
</div>
    
{% endblock %}
