<form method="post" action="{{ path('recruiter_announcement_delete', {'id': announcement.id}) }}" onsubmit="return confirm('Êtes vous sûr de bien vouloir supprimer cette annonce ?');">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announcement.id) }}">
  <button class="btn btn-danger my-2"><i class="bi bi-trash-fill"> Supprimer</i></button>
</form>